IMP.chr20.pooled.imputed.vcf.gz
IMP.chr20.pooled.imputed.vcf.gz.csi
IMP.chr20.pooled.phased.dedup.vcf.gz
IMP.chr20.pooled.phased.dedup.vcf.gz.csi
IMP.chr20.pooled.phased.vcf.gz
IMP.chr20.pooled.phased.vcf.gz.csi
IMP.chr20.pooled.snps.gl.vcf.gz
IMP.chr20.pooled.snps.gl.vcf.gz.csi
IMP.chr20.pooled.unphased.vcf.gz
IMP.chr20.snps.gl.vcf.gz
IMP.chr20.snps.gl.vcf.gz.csi
IMP.chr20.snps.gt.vcf.gz
IMP.chr20.snps.gt.vcf.gz.csi
imputation_quality_gtgl.png
REF.chr20.phased.dedup.vcf.gz
REF.chr20.phased.dedup.vcf.gz.csi
REF.chr20.phased.vcf.gz.csi
REF.chr20.phased.vcf.gz
REF.chr20.snps.gt.vcf.gz
REF.chr20.snps.gt.vcf.gz.csi
reference.panel
study.population